<template>
  <div class="input-field">
    <p class="input-header">{{ inputHeader }}</p>
    <AtomInput
      @update:model-value="onChange"
      type="text"
      :placeholder="placeholderValue"
      :modelValue="inputValue"
      class="atom-input"
    />
  </div>
</template>

<script setup lang="ts">
const props = defineProps<{
  inputHeader: string;
  inputValue: string;
  placeholderValue?: string;
}>();
const emit = defineEmits(["handleInputChange"]);
const onChange = (value) => {
  emit("handleInputChange", value);
};
</script>

<style lang="scss" scoped>
.input-field {
  @apply lg:flex lg:items-center;
}
.input-header {
  @apply pb-1 lg:pr-2;
}
.atom-input {
  @apply lg:max-w-xl;
}
</style>