<template>
  <div>
    <MoleculeRadioButton
      v-for="(option, index) in options"
      :index="index"
      :label="option.label"
      :value="option.value"
      :radioName="radioGroupName"
      :isSelected="option.selected"
      @handle-input-change="setSelectedRadio"
    ></MoleculeRadioButton>
  </div>
</template>

<script setup lang="ts">
const props = defineProps<{
  isHorizontal: boolean;
  options: Array<{
    label: string;
    value: string;
    selected?: boolean;
  }>;
  radioGroupName: string;
}>();
const emit = defineEmits(["setSelectedValue"]);
const setSelectedRadio = (value) => emit("setSelectedValue", value);
</script>

<style>
</style>