<template>
  <div class="post-job-header">
    <Headline type="h1" text="Post a Job" />
  </div>
  <p class="brief-info">{{ briefText }}</p>
  <video class="video" controls height="350" width="380">
    <source src="../../assets/Lorem-ipsum-video.mp4" type="video/mp4" />
    Sorry, your browser doesn't support embedded videos.
  </video>
  <p class="video-sub-header">Preview the job posting process</p>
  <div class="pre-input-info">
    <div class="important">
      <Headline type="h5" text="Important!" />
      <p class="important-info">{{ importantText }}</p>
      <ul class="important-list-box">
        <li class="important-list">
          Please consider if the role you're providing is suitable for someone
          of rufugee status. We advise to read our
          <NuxtLink href="/"><u>FAQ for employers</u></NuxtLink> if you're
          uncertain.
        </li>
        <li class="important-list">
          Please post your job listing in <strong>English</strong> or
          <strong>Ukrainian</strong> for easy comprehension.
        </li>
      </ul>
      <p>Thank you for your support!</p>
    </div>
    <div class="sign-in">
      <p><strong>Already have an account?</strong></p>
      <div class="sign-in-info-box">
        <p class="sign-in-text">
          Please sign in to continue. Otherwise, just fill in the form below and
          we'll create one for you.
        </p>
        <Button type="primary" content="Sign In" />
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import Headline from "../atom/Headline.vue";
import Button from "../atom/Button.vue";
import Default from "../../layouts/Default.vue";

const briefText = ref(
  "Thank you for choosing to help. To help as a business, you simply need to fill in the form below - don't worry about opening an account, your account will be created on the fly. Just select Submit when you're done (you'll be able preview it before posting)."
);
const importantText = ref(
  "All help is gratefully accepted; but to avoid disappointment - we do ask employers to be considerate of the following:"
);
</script>

<style lang="scss" scoped>
.post-job-header {
  @apply py-6;
}
.brief-info {
  @apply text-justify text-lg;
}
.video {
  @apply pt-4 m-auto block;
}
.video-sub-header {
  @apply text-xs py-2 flex justify-center;
}
.pre-input-info {
  @apply lg:flex;
}
.important {
  @apply bg-gray-100 p-4 lg:max-w-2xl;
}
.important-info {
  @apply text-sm my-2;
}
.important-list-box {
  @apply list-inside list-disc text-sm;
}
.important-list {
  @apply my-2;
}
.sign-in {
  @apply bg-gray-100 p-4 mt-4 lg:mt-0 lg:ml-4 lg:max-w-2xl;
}
.sign-in-info-box {
  @apply flex;
}
.sign-in-text {
  @apply text-sm;
}
</style>
